.article-container {
    background: linear-gradient(135deg, #121212, #1a1a1a);
    color: white;
    padding-bottom: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .article-banner {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #f3ec78;
  }
  
  .article-content {
    margin: 50px;
    padding: 0 20px;
    text-align: left;
  }
  
  .article-title {
    font-size: 2.8rem;
    color: #f3ec78;
    margin-bottom: 20px;
  }
  
  .article-content p {
    font-size: 1.08rem;
    color: #ddd;
    line-height: 1.8;
  }

  .author{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .article-title {
      font-size: 2rem;
    }
  
    .article-content p {
      font-size: 1rem;
    }
  
    .comment-btn {
      width: 100%;
      text-align: center;
    }
  
    .comment-input {
      font-size: 1rem;
    }
  }
  